@import 'main'

.headerMenu 
	position fixed
	top 0
	left 0
	width 100%
	z-index 99
	margin 0
	padding 0
	background-color: spanishgray
	.logo
		float left
		width 7%
		padding 0
		margin 0
		max-height 75px
		img
			max-height 75px
			width auto
	.menu
		float left
		width 93%
		.menuLink
			padding 0
			float left
			margin 5px
		.login
			float right
			margin 5px