// colors

gray = #666666
isabel = #EEEEEE
cadetblue = #5FAAB4
whitesmoke = #F5F5F5
spanishgray = #8AA399
brown = #87452F

// default styles

a
	text-decoration none
	
a:any-link 
	color black
	font-weight bold


a:-moz-any-link 
	color black
	font-weight bold


a:-webkit-any-link 
	color black
	font-weight bold

a:hover 
	color brown
