@import 'main.styl'

.container404
	height 100%
	width 100%
	padding 0
	padding-top 4em
	.pagenot
		margin-left auto
		mergin-right auto
		text-align center
		h1
			color: brown
		h3 
			color: brown
			text-decoration underline
		.imgContainer404
			img
				max-height 400px
				width auto
