html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.index{
	background-image: url('../assets/darkrift-orig_full-min.jpg');
	background-size: cover;
	background-position: center, center;
	width: 100%;
	height: 100%;
}
.index a {
	text-align: center;
	font-size: 2em;
	color: white;
	text-decoration: none !important;
}
.index h3 {
	padding-top: 2em;
	margin: 0;
}